@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
.staySection {
    padding: 4rem 2rem;
    background-color: #ced3cd;
    color: #333;
    width: 100%;

    @media (min-width: 768px) {
        padding: 6rem 4rem;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .heading {
        font-family: "Zen Loop";
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        font-weight: 100%;
        color: #fff;
        padding: 2rem;
        border-radius: 0.5rem;
        background-image: url("/src/assets/image_01.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(51, 98, 108, 0.6);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .h2 {
        font-family: "Zen Loop";

        line-height: 1.8;
        color: #fff;
        background-color: #33626c;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    .text {
        font-size: 1.125rem;
        line-height: 1.8;
        color: #fff;
        background-color: #33626c;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }
}

.offerSection {
    background-image: url("/public/activities/stays/weekend.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 600px;
    position: relative;

    .offerContainer {
        width: 50%;
        left: 100%;
        position: center;
        background-color: #c5b496;
        border-radius: 5rem 0 5rem 0;
        padding: 3rem 0 2rem 0;
        font-family: "Zen Loop", cursive;
        h1 {
            font-size: 6rem;
            color: #ffffff;
        }
        h2,
        h3 {
            font-size: 3.5rem;
            color: #ffffff;
        }
    }
}

.button {
    background-color: rgba(130, 155, 151, 0.9);
    color: white;
    width: 30%;
    padding: 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 2.5rem 0 2.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: rgba(130, 155, 151, 1);
    }
}
