.staySection {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    color: #333;

    @media (min-width: 768px) {
        padding: 6rem 4rem;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .heading {
        font-family: "Zen Loop";
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
        color: #fff;
        padding: 2rem;
        border-radius: 0.5rem;
        background-image: url("/src/assets/image_01.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    }

    .h2 {
        font-family: "Zen Loop";
        font-size: 1.125rem;
        line-height: 1.8;
        color: #fff;
        background-color: #33626c;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    .text {
        font-size: 1.125rem;
        line-height: 1.8;
        color: #fff;
        background-color: #33626c;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }
}
