@use "../styles/variables" as *;

nav {
    color: white;
}

.icon {
    padding: 19px 17px;
    background-color: $nav-background;
    border-radius: 25px 0;

    & i {
        font-size: 22px;
    }
}

.nav {
    position: absolute;
    left: 100vw;
    top: 0;
    transition: left 0.3s ease-in-out;

    width: 100vw;
    height: 100vh;

    background-color: $nav-background;

    font-family: "Zen Loop";
    font-size: 2.625rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .close {
        position: absolute;
        top: 0;
        right: 0;

        padding: 33px;

        & i {
            font-size: 36px;
        }
    }

    &.active {
        left: 0;
    }
}

